.idea/
__pycache__/
.pytest_cache/

# Test output
testing/*.csv
testing/*.html
testing/*.params
testing/*.pdf
testing/*.zip

# Python venv
venv/
.venv/

# Temp data
tmp
dive_logs

# If we are in a ros2 workspace
COLCON_IGNORE
