pandas
pymavlink
folium
requests>=2.33.0
pytest
pynmea2
matplotlib
numpy
transforms3d
pillow>=12.1.1 # mitigation for CVE-2026-25990
pygments>=2.20.0 # mitigation for CVE-2026-4539
urllib3>=2.6.3 # mitigation for CVE-2026-21441